@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: Arial;
}

.gradient {
    background-color: rgb(0, 255, 166);
    filter: blur(250px);
    position: absolute;
}

 

.gradient-bg {
    width: 280px;
    height: 280px;
}

.gradient-md {
    width: 100px;
    height: 100px;
}

.gradient-xlg {
    width: 400px;
    height: 400px;
}


.gradient-left {
    margin-left: 90vw;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

div.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div.container > * 
{
    display: flex;
    flex-direction: column;
}

div.container > * > p
{
    font-size: 20px;
}

pre, code {
    font-family: 'IBM Plex Mono', monospace;
}